<!doctype html>
<html>
  <head>
    <title>Example</title>
    <link rel="stylesheet" type="text/css" href="<%= assets_path("style.css") %>"/>
  </head>
  <body>
    <div class="container">
      <h1>"Vestibulum condimentum"<br />
        <span>Leonardo da Vinci</span></h1>
      <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
        Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</h2>
    </div>
  </body>
</html>
